@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Pour Chrome, Safari et Edge */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
.scrollbar-hidden {
  scrollbar-width: none; /* Masque la scrollbar */
}

/* Désactivation du comportement du curseur par défaut */
.scrollbar-hidden {
  -ms-overflow-style: none; /* Masque la scrollbar dans Internet Explorer et Edge */
}
